.videoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .videoBlock__thumbnail {
    max-width: 500px;
    margin-bottom: 10px;
  }
  .videoBlock__title {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .videoBlock__views {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}
