extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.uploadImage}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                label(for="file") 사진 등록
                input(type="file", id="imageFile", name="imageFile" accept="image/*")
            input(type="text", placeholder="Title", name="title" required=true)
            textarea(name="description", placeholder="Description" required=true)
            input(type="submit", value="Upload File")